This is My First Python Script

In [ ]:
print ("Hello world")

q1

In [ ]:
n="1234.6"
print(float(n)) 
print(type(n)) 
print(type(float(n)))

q2

In [ ]:
x = 5
y = 6
print (x,y)

q3

In [ ]:
x = int (input("Enter number"))
print("divisible by 3") if x%3==0 else print ("not divisible by 3")

q4

In [2]:
a = int ( input("Enter number 1 :"))
b = int (input("Enter number 2 :"))
c = int (input("Enter number 3 :"))
x1 = float ( ((b * -1)+(c**4))/ (2*a)  )
print (x1)
x2 =  ( (a+(b**3)) ** 2 ) / (c-(a**2))
print (x2)

Enter number 1 :1
Enter number 2 :2
Enter number 3 :3
39.5

q5

In [5]:
a = int ( input("Enter number 1 :"))
b = int (input("Enter number 2 :"))
print ( max (a,b) )

Enter number 1 :1
Enter number 2 :100
100

q6

In [7]:
a = int ( input("Enter number 1 :"))
b = int (input("Enter number 2 :"))
c = int (input("Enter number 2 :"))
print ( max (a,b, c) )

Enter number 1 :1
Enter number 2 :2
Enter number 2 :3
3

q7

In [10]:
a = int ( input("Enter number 1 :"))
b = int (input("Enter number 2 :"))
if b==0:
    print("b is 0")
else:
        print(a/b)

Enter number 1 :9
Enter number 2 :1
9.0

q8

In [4]:
x = int (input("Enter number  of days :"))

Enter number  of days :500
1.36986301369863
71.42857

q9

In [1]:
x = float (input("Enter the temperature in Celsius :"))
print ( (x*1.8)+32)

Enter the temperature in Celsius :30
86.0

q10

In [7]:
x = int ( input("Enter number 1 :"))
y = int (input("Enter number 2 :"))

if (x-y)==0:
    print("division by zero")
else:
    z =  float( ((x*x)-(y*y))/(x-y) )
    print (z)

Enter number 1 :10
Enter number 2 :5
15.0

q11

In [8]:
n = int ( input("Enter number  :"))

if n>=130:
  print("Very Superior")
elif n>=120 and n<=129:
  print("Superior")
elif n>=110 and n<=119:
  print("High Average")  
elif n>=90 and n<=109:
  print("Average")  
elif n>=80 and n<=89:
  print("Low Average")  
elif n>=70 and n<=79:
  print("Borderline") 
else:
  print("Extremely Low")

Enter number  :200
Very Superior

q12

In [9]:

n = int ( input("Enter number  :"))

if ( n<0 or n>100):
    print ("wronge entry")
else:
    if n>=90:
        print("A")
    elif n>=80 and n<9:
        print("B")
    elif n>=70 and n<80:
        print("C")  
    elif n>=60 and n<70:
         print("D")  
    elif n>=50 and n<60:
        print("E")  
    else:
         print("F")

Enter number  :55
E

q13

In [11]:
a = int ( input("Enter a  :"))
b = int ( input("Enter b  :"))
c = int ( input("Enter c  :"))

if ( (a*a) +(b*b) ) == (c*c):
    print("equals")
else:
    print("not equals")

Enter a  :10
Enter b  :10
Enter c  :100
not equals

q14

In [12]:
ch = input("please enter character : ")

if( ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U' or ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' ): 
    print( ch, "vowel")
else:
    print(ch, "consonant")

please enter character : f
f consonant

q15

In [13]:
n=int(input("Please Enter a Number : "));  
if(n%2!=0):  
    print("odd")  
else:  
    print("even")

Please Enter a Number : 20
even

q16

In [14]:
import datetime
time = datetime.datetime.now()
print (time)

2019-10-15 17:50:53.670060

q17

In [15]:
pi = 3.14
radius = float(input ("Input the radius of the circle : "))
print((pi * radius**2))

Input the radius of the circle : 5
78.5

q18

In [16]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")

print ( list (reversed (lname))  ,  list(reversed (fname)))

Input your First Name : ahmad
Input your Last Name : kofahi
['i', 'h', 'a', 'f', 'o', 'k'] ['d', 'a', 'm', 'h', 'a']

q19

In [17]:
n1 = input("enter n1 : ")
n2 = input("enter n2 : ")
n3 = input("enter n3 : ")

print ("The examination will start from : " + n1 +"/" +n2+"/"+n3)

enter n1 : 11
enter n2 : 12
enter n3 : 2019
The examination will start from : 11/12/2019

q20

In [18]:
n =  (input("enter num : "))

print(int(n)+int(n*2)+int(n*3))

enter num : 5
615

q21

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

q22

In [20]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

q23

In [21]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

q24

In [22]:
pi = 3.14
r= float( input("enter radius : " ))
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

enter radius : 6.0
The volume of the sphere is:  904.3199999999999

q25

In [23]:
n = int (input("Enter num : " ))
if n<=17:
    print( 17 - n)
else:
    print( (n - 17) * 2 )

Enter num : 22
10

q26

In [24]:
x = float ( input("enter num : "))

if x<100  or x<1000 or x<2000 :
     print((x/5)*25)
else:
    print("wronge entry ")

enter num : -20
-100.0

q27

In [25]:
x = int (input("enter num1 :"))
y = int (input("enter num2 :"))
z = int (input("enter num3 :"))

s = x+y+z
if x==y==z:
    s=s*3

print(s)

enter num1 :1
enter num2 :2
enter num3 :3
6

q28

In [26]:
x = int (input("enter x :"))
y = int (input("enter y :"))
temp = y
y=x
x=temp
print("y=" ,y , "x = " ,x )

enter x :1
enter y :2
y= 1 x =  2

q29

In [27]:
c = input("enter char : ")
s = input("enter string : ")

if c in s:
    print("true")
else:
    print("false")

enter char : a
enter string : ahmad
true

q30

In [28]:
b = int(input("enter base : "))
h = int(input("enter height : "))
area = b*h/2
print("area = ", area)

enter base : 10
enter height : 20
area =  100.0

q31

In [29]:
n1 = int(input("enter number 1: "))
n2 = int(input("enter number 2: "))
n3 = int(input("enter number 3: "))

if n1 == n2 or n2 == n3 or n1==n3 :
    print(0)
else:
    print(  (n1) + (n2) + (n3) )

enter number 1: 1
enter number 2: 2
enter number 3: 3
6

q32

In [30]:
n1 = int(input("enter number 1: "))
n2 = int(input("enter number 2: "))

s = n1+n2
if s in range(15, 20):
        print (20)
elif s in range(30, 40):
    print (50)
elif s in range(150, 167):
    print (210)
else:
    print(s)

enter number 1: 100
enter number 2: 50
210

q33

In [31]:
n1 = int(input("enter number 1: "))
n2 = int(input("enter number 2: "))

if (n1==n2) or (n1-n2)== 5 or (n1+n2) == 5:
    print("true")
else:
    print("false")

enter number 1: 20
enter number 2: 30
false

q34

In [ ]:
x = int(input("enter x : "))
y = int(input("enter y :"))

print (x*x+2*x*y+y*y)

q35

In [32]:
amt = int(input("enter amt : "))
years = int(input("enter years :"))
rate = int(input("enter rate : "))

print ( amt *((1+(0.01*rate))**years))

enter amt : 1
enter years :2
enter rate : 3
1.0609

36

In [2]:


x1 = int(input("enter x1 : "))
y1 = int(input("enter y1 : "))

x2 = int(input("enter x2 : "))
y2 = int(input("enter y2 : "))


print (    (2**(1/2)) * ( (x2 - x1)**2 + (y2 - y1)**2 )         )

enter x1 : 1
enter y1 : 2
enter x2 : 1
enter y2 : 2
0.0

q37

In [5]:
print("ahmad")
%time

ahmad
Wall time: 0 ns

q38

In [6]:
feet = int (input("enter feets "))
inch = int (input("enter inches "))
#1 meter = 100 
#1 foot = 12 inches, 1 inch = 2.54 cm
#12 x 2.54 = 30.48
#1 foot is equal to 30.48 cm, 1 cm is equal to 0.032808399 feet

i =  int(inch + (feet*12))
print(i*2.54)

enter feets 6
enter inches 2
187.96

q39

In [9]:
#idk .. !!

q40

In [10]:
feet = int(input("enter feet "))

# foot = 12 inch 
print (feet*12)
# 1yard = 3 foot
print(feet/3)
#mile = 5,280 feet
print(feet/5280)

enter feet 100
1200
33.333333333333336
0.01893939393939394

q41

In [11]:
min_PER_mon  = 43800
min_PER_DAY  = 1440
min_per_year = 525600

min = int (input("enter min's : "))

min_PER_mon *=min
min_PER_DAY *=min
min_per_year *=min

print(min_PER_mon)
print(min_PER_DAY)
print(min_per_year)

enter min's : 1
43800
1440
525600

q42

In [12]:


years = int (input("enter years : "))

print (years*12)
print (years*365)

enter years : 1
12
365

q43

In [13]:
#weight / (height * height)

w = float (input("enter w : "))
h = float (input("enter h : "))

print (w/(h*h))

enter w : 85
enter h : 5.8
2.5267538644470866

q44

In [14]:
print (sorted("59215"))

['1', '2', '5', '5', '9']

q45

In [15]:
help('math')

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

q46

In [17]:
print(ord('a'))

97

q47

In [18]:
#Write a Python program to find the available built-in modules. (built-in modules doesn’t
#require to be PIP’ed install) ??!!!  high - level

q48

In [19]:
import sys
a = " ahmad "
print(sys.getsizeof(a))

56

q49

In [22]:
s1="a"
s2="h"
s3="m"
s4="a"
s5="d"
s6=s1+s2+s3+s4+s5
print(s7)

ahmahd

q50

In [24]:
s="123d"

b = True


for a in s:
    if(a != '0' or a !='1' or a !='2' or a !='3' or a !='4' or a !='5' or a !='6' or a !='7' or a !='8' or a !='9'  ):
        b=False
    
if b==True :
    print("yes")
else:
    print("no")

no

q51

In [27]:
import os
os.system("ls")

1

q52

In [28]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive")
elif num == 0:
   print("Zero")
else:
   print("Negative")

Enter a number: -100
Negative

q53

In [30]:
n = int(input("enter value"))

enter value123

q54

In [31]:
str1 = "a"
str2 = "a"

print((id(str1)))
print((id(str2)))

1920283486112
1920283486112

q55

In [32]:
str1 = "a"
str2 = "a"

if str1==str2:
    print("equals")
else:
    print("not equals ")

equals

q56

In [35]:
a=100
a=""
print(a)

q57

In [41]:

str1 = 'AAA'
print(any(c.islower() for c in str1))

False

q58

In [42]:
s1 ="aa"
s1= "0"+s1
print(s1)

0aa

q59

In [44]:
#not given #resources used 
from timeit import default_timer

start = default_timer()
x= "aaaaa"
print(default_timer()-start)

0.00011019999965355964

q60

In [45]:
x=12
print(bin(x))

0b1100

q61

In [46]:
#not given
print("Input the value of x & y")
x, y = map(int, input().split())
print("The value of x & y are: ",x,y)

Input the value of x & y
1 2
The value of x & y are:  1 2

q62

In [48]:
x = int(input("enter decimal number : "))
print(hex(x))

enter decimal number : 4
0x4

q63

In [51]:
var = "123543424"
sorted(var)
for var in  range(1):
    print(var)

0

q64