1. Write a Python program to find the second largest number in a list.

In [1]:
l1 = [5,6,9,10,20,30]
l1.remove(max(l1))
print(max(l1))

20

2. Write a Python program to find the index of the second largest number in a list.

In [2]:
l1 = [5,6,9,10,20,30]
l1.remove(max(l1))
print(l1.index(max(l1)))

4

3. Write a Python program to check a container is empty or not.

In [6]:
l1 = [1,2,3,4]
print(len(l1))

if len(l1)==0:
    print("empty")
else:
    print("not Empty List")

4
not Empty List

4. Write a Python program using Sieve of Eratosthenes method for computing primes upto a specified number.

5. Given a list slice it into a 3 equal chunks and print each list.

In [7]:
l=[1,2,3,4,5,6,7,8]

if len(l)%2==0:
    a= round(len(l)/3)
else:
    a= len(l)//3+1
    
print(l[:a])
print(l[a:a+a])
print(l[-a:])

[1, 2, 3]
[4, 5, 6]
[6, 7, 8]

6. Write a Python program to sort a list in descending order.

In [15]:
l=[1,5,3,4,5,200,7,8]
l.sort()
l.reverse()
print(l)

[200, 8, 7, 5, 5, 4, 3, 1]

7. Write a Python program to reverse a list.

In [16]:
l=[1,2,3,4,5,6,8,9,10]
l.reverse()
print(l)

[10, 9, 8, 6, 5, 4, 3, 2, 1]

8. Write a Python program to flatten a 2-D list.

In [1]:
matrix = [[1, 2, 3], [4, 5,6], [6, 7, 8, 9]] 


ar1d = []


for row in matrix:
    for col in row:
        ar1d.append(col)
        
        
print(ar1d)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

9. Given an input list removes the element at index 4 and add it to the 2nd position and also at the end of the list.

In [19]:
l1= [1,2,3,5,4,6,7,8,3,100]
v=l1[4]
del l1[4]

l1[2]=v
l1[len(l1)-1]=v

print(l1)

[1, 2, 4, 5, 6, 7, 8, 3, 4]

10. Given a two list of equal size create a set such that it shows only the common elements from both lists.

In [27]:
l1 = [1,2,3,4,5]
l2 =[1,2,3,4,10,9,11]

l=[]

for i in l1:
    if i in l2:
        l+=str(i)
        
for i in l2:
    if i in l1:
        l+=str(i)
        

a= set(l)

print(a)

{'1', '2', '3', '4'}

11. Given a two list of equal size create a tuple such that it shows elements from both lists in pairs

In [28]:
l1 = [1,2,3,4,5]
l2 = [1,2,3,4,10]

l=()

for i in range(len(l1)):
    l = str(l1[i])+str(l2[i])
    print(l)

11
22
33
44
510

12. Write a Python program to iterate and extract all key-value pair of a dictionary and print them

In [29]:
s = {
     'name':"ahmad",
     'age':"24",
     'id':3

     }


for i in s:
    print(i,s[str(i)])

name ahmad
age 24
id 3

13. Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list.

In [30]:

s = {
     'name':"ahmad",
     'age':"24",
     'id':3

     }

l1 = ['name',"ali"]


for i in l1:
    if i in s:
        print(i)
    else:
        l1.remove(i)
        
        
print (l1)

name
['name']

14. Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

In [31]:
s = {
     'name':"ahmad",
     'age':"24",
     'id':3

     }

l1 = []
v=""

for i in s.values():
    if i not in l1:
        l1.append(i)
        
        
print (l1)

['ahmad', '24', 3]

15. Write a Python program whichaccepts asequence ofcomma-separated numbersfrom userand generate a list and tuple with those numbers. Sample data : 3, 5, 7, 23 Output : List : [’3’, ’ 5’, ’ 7’, ’ 23’] Tuple : (’3’, ’ 5’, ’ 7’, ’ 23’)

In [34]:

x =input("enter numbers ")

l1=x.split(sep=',')

t = tuple(l1)
print(t)
print(l1)

enter numbers 1,2,3,4,5
('1', '2', '3', '4', '5')
['1', '2', '3', '4', '5']

16. Write a Python program to count the number 4 in a given list.

In [20]:
l1= [1,2,3,5,4,6,7,8,4,100]

print(l1.count(4))

2

17. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Sample numbers list : numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]

In [35]:
numbers = [1,2,3,4,200,237,500,9000,200,237]

for i in numbers:
    if(i>=237):
        break
    
    if i % 2 ==0:
        print(i)

2
4
200

18. Write a Python program to print the length of the series and the series starting from the 3rd term, ending at the 3rd last term and the sum of a series.

In [37]:
l=[1,2,3,4,5,6,7,8]

print("first 3 elements : ", l[:3])
print("last 3 elements : " ,l[-3:])
print("sum : " ,sum(l))

first 3 elements :  [1, 2, 3]
last 3 elements :  [6, 7, 8]
sum :  36

19. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [36]:
li = [
(2,3,7),
(1,5,6),
(2,1,4)
]

def abc(x):
    return x[-1]

print(sorted (li , key = abc))

[(2, 1, 4), (1, 5, 6), (2, 3, 7)]

20. Write a Python program to create a list by concatenating a given list which range goes from 1 to n. Sample list : [’p’, ’q’] „„ n = 5 Sample Output : [’p1’, ’q1’, ’p2’, ’q2’, ’p3’, ’q3’, ’p4’, ’q4’, ’p5’, ’q5’]

In [26]:
sl=['p','q']
n=5
l=[]
v1=""
v2=""
for i in range(1,6):
    l.append(sl[0]+str(i))
    l.append(sl[1]+str(i))
print(l)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

#21. Write a Python program to find the biggest row sum of a given matrix.

In [23]:
matrix = [[1, 2, 3], [4, 5,6], [6, 7, 8, 9]] 
s=0
for row in matrix:
    m=0
    for col in row:
        m+=col
    
    if s < m :
        s=m
        
print(s)

30

22. Write a Python program to find the biggest column Multiplication of a matrix.  # note

In [20]:
m = [[1, 2, 3,4,5],  
     [5,5,5,5,5],  
     [10,20,30,40,50]]  

print(m)
m1=0
for i in range(5):
    multi=1
    for j in range(3):
        multi= multi * m[j][i]
    if m1 < multi:
        m1=multi
        
print('maxcol : ', m1)

[[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50]]
maxcol :  1250

23. Write a guessing game where the user must guess a secret number. After every guess the programtellstheuserwhethertheirnumberwastoolargeortoosmall. Attheendthenumber of tries needed should be printed. It counts only as one try if they input the same number multiple times consecutively

In [45]:
a =set()

g = 7

c=0
while True:
    i=int(input("gusss number : "))
    if i == 7:
        print("you win ^_^")
        break
    if c==5:
        print("you fail 5 times ")
        break
    if i < 7:
        print("small")
    if i > 7:
        print("large")
    if i not in a:
        c=c+1
    a.add(i)

gusss number : 1
small
gusss number : 2
small
gusss number : 3
small
gusss number : 4
small
gusss number : 5
small
gusss number : 0
you fail 5 times

24. Write a python program to transpose a matrix.

In [21]:

m1 = [[1, 2, 3,4,5],  
     [5,5,5,5,5],  
     [10,20,30,40,50]]  


m2 = [[1,1,1,1,1],
      [2,2,2,2,2],
      [3,3,3,3,3]]

print ("m1 : "  , m1)
print("m2 : ", m2)   


for i in range (5):
    for j in range (3):
        m1[j][i]=m2[j][i]
        
print ("m1 : "  , m1)
print("m2 : ", m2)

m1 :  [[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50]]
m2 :  [[1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]
m1 :  [[1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]
m2 :  [[1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]

25. Write a python program to perform a 2 matrix multiplication (following the algebra rules of matrix multiplication).

In [22]:
m1 = [[1, 2, 3,4,5],  
     [5,5,5,5,5],  
     [10,20,30,40,50]]  


m2 = [[1,1,1,1,1],
      [2,2,2,2,2],
      [3,3,3,3,3]]

result = []

print ("m1 : "  , m1)
print("m2 : ", m2)   

m3=[]

for i in range (3):
    for j in range (5):
      result.append(m1[i][j]*m2[i][j])
        
print ("res :  m1 * m2 "  , result)

m1 :  [[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50]]
m2 :  [[1, 1, 1, 1, 1], [2, 2, 2, 2, 2], [3, 3, 3, 3, 3]]
res :  m1 * m2  [1, 2, 3, 4, 5, 10, 10, 10, 10, 10, 30, 60, 90, 120, 150]

26. Write a python program to inverse a matrix.

In [24]:
m1 = [[1, 2, 3,4,5],  
     [5,5,5,5,5],  
     [10,20,30,40,50]]  

print ("m1 : "  , m1)

m3=[]

for i in range (2,-1,-1):
    for j in range(4,-1,-1):
       m3.append(m1[i][j])
      
print(m3)

m1 :  [[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50]]
[50, 40, 30, 20, 10, 5, 5, 5, 5, 5, 5, 4, 3, 2, 1]

27. Write a Python program to print all permutations of a sequence of numbers

In [25]:
import itertools
print(list(itertools.permutations([1, 2, 3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

28. Write a Python program to sort (ascending and descending) a dictionary by its values.

In [26]:
d1 = {5:"b",2:"a",3:"yazeed"}



for i in sorted(d1.values() , reverse = True):
    print(i)

yazeed
b
a

29. Write a Python program to remove duplicates from Dictionary values.

In [27]:
d1 = {5:"b",2:"b",3:"yazeed"}
l ={ }
for key , value in d1.items():
    if value  not in l.values():
        l[key] = value
print(l)
print(d1)

{5: 'b', 3: 'yazeed'}
{5: 'b', 2: 'b', 3: 'yazeed'}

30. Write a Python program to print all unique values in a dictionary with their keys. Sample Data : [”V”:”S001”, ”V”: ”S002”, ”VI”: ”S001”, ”VI”: ”S005”, ”VII”:”S005”, ”V”:”S009”,”VIII”:”S007”] Expected Output : Unique Values: ’S005’, ’S002’, ’S007’, ’S001’, ’S009’

In [28]:
d1 = {5:"b",2:"b",3:"yazeed"}


l =set()

for v in d1.values():
    l.add(v)
    
print(l)

{'b', 'yazeed'}

#31. Write a Python program to find the keys of the highest 3 values in a dictionary.

In [29]:
d1 = {5:3,2:2,3:1,10:9,"a":9}


l1 = list()
for i in d1.values():
    l1.append(i)

l1.sort()
s =len(l1) 
l1 = l1[s-3:s]   
print(l1)


for i  in d1.keys():
    if (d1[i] in l1):
        print(i)

[3, 9, 9]
5
10
a

#32. Given a list, traverse it and count the occurrence of each element
 and create a dictionary to show the count of each element.

In [30]:
l1 = [1,2,2,4,8]
l1.reverse()

d= { }
for i in l1:
    d[i]=l1.count(i)
    
    
print(d)

{8: 1, 4: 1, 2: 2, 1: 1}

33. Given two sets find the intersection and remove the resulted elements from the first set.

In [33]:
s1={2,4}
s2={1,5,6,4}

g = s1.intersection(s1,s2)
print(g)

s1=s1-g
print(s1)

{4}
{2}

34. Given two sets, Checks if One Set is subset or superset of Another Set. if it is a subset, delete all elements (not the set) from that set

In [35]:
s1={1,4}
s2={1,5,6,4}

if s1.issubset(s2):
    s1.clear()
    
    
print(s1)

set()

35. Write a Python program to print out a set containing all the item from list_1 which are not present in list_2. Test Data : list_1 = [”White”, ”Black”, ”Red”] list_2 = [”Red”, ”Green”] Expected Output : ’Black’, ’White

In [25]:
l1=['White', 'Black', 'Red'] 
l2=['Red', 'Green']
l11=[]
for i in l1:
    if i not in l2:
        l11.append(i) 
print(l11)

['White', 'Black']

36. Write a Python program to find a distinct pair of numbers whose all product are odd from a sequence of integer values. Sample Input: [1, 4, 7, 3] Sample Output: 1, 3 1, 7 3, 7

In [36]:
l1 = [1,4,7,3]

for i in l1:
    for j in l1:
        if i % 2 !=0 and j % 2 !=0 and i != j:
            print(i,j)

1 7
1 3
7 1
7 3
3 1
3 7

37. Write a Python program to compute the summation of the absolute difference of all distinct pairs in an given array (non-decreasing order). Sample array: [1, 2, 3] Then all the distinct pairs will be: 1 2 1 3 2 3 Sample Output: 1 + 2 + 1 = 4

In [37]:
#from net :(
lst = [1, 2, 3]  

      
diffs = [] 
for i, x in enumerate(lst): 
    for j, y in enumerate(lst): 
        if i != j:  
            diffs.append(abs(x-y))
            print(diffs)
              
print( int(sum(diffs)/2)  )

[1]
[1, 2]
[1, 2, 1]
[1, 2, 1, 1]
[1, 2, 1, 1, 2]
[1, 2, 1, 1, 2, 1]
4

38. Write a Python program to find the difference between the largest possible integer and the smallest possible integer which are created by maximum 4 digits each digit contains a value from 0 to 9. Input: 3245 Output: Min Int: 2345 Max Int: 5432 Max Difference: 3087

In [39]:
v= input("enter number of 4 digits :")
g=v
l=[]
for i in v:
    l.append(i)
mi=""
l.sort()
for i in l:
    mi+=i
print(mi)
    
l2=[]
ma=""
for i in g:
    l2.append(i)
    
l2.sort(reverse=True)

for i in l2:
    ma+=i
    
print(ma)

print("max diff :" , (int(ma)- int(mi)))

enter number of 4 digits :1432
1234
4321
max diff : 3087

39. Write a Python program which adds up column and row of given table. Input cell value: 25 69 51 26 68 35 29 54 54 57 45 63 61 68 47 59 Result: 25 69 51 26 171 68 35 29 54 186 54 57 45 63 219 61 68 47 59 235 208 229 172 202 811

In [42]:
g = [[1, 2, 3,4,5],  
     [5,5,5,5,5],  
     [10,20,30,40,50]]  
m=g.copy()
print(g)
rs=0
cs=0
for r in range(3):
    for c in range(5):
        rs+=m[r][c]
    m.append(rs)
    
print(m)
m1=g.copy()

for r in range(5):
    for c in range(3):
        cs+=m1[c][r]
    m1.append(cs)
    
print(m1)

[[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50]]
[[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50], 15, 40, 190]
[[1, 2, 3, 4, 5], [5, 5, 5, 5, 5], [10, 20, 30, 40, 50], 16, 43, 81, 130, 190]

40. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
Sample List : [’abc’, ’xyz’, ’aba’, ’1221’] Expected Result : 2

In [23]:
l1 = ['abc', 'xyz', 'aba', '1221']
c=0
for i in l1:
    if(len(i)>2) and i == i[::-1]:
        print(i)
        c+=1
        
print("expected result : " , c)

aba
1221
expected result :  2

41. Write a Python program that takes two lists and returns True if they have at least 3 common member

In [21]:
l1=[1,2,3,5,6,7,8,9]
l2=[2,4,5,5,6,7,8,9,10]
l11=[]
for i in l1:
    if i in l2:
        l11.append(i)
        
for i in l2:
    if i in l1:
        l11.append(i)
        
if (len(l11))>=3:
    print("true")
else:
    print("false")

true

42. Write a Python program to generate a list of 15 values and print the list with the first and last 5 elements are squared.

In [33]:
l1=[]
for i in range(2,17):
    l1+=[i]    
    
l1[0]=l1[0]*l1[0]

l1[len(l1)-1]=l1[len(l1)-1]*l1[len(l1)-1]
print(l1)

[4, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 256]

43. The sum of the squares of the first ten natural numbers is, 12 + 22 + ... + 102 = 385 The square of the sum of the first ten natural numbers is,(1 + 2 + ... + 10)2 = 552 = 3025 Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640. Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [43]:
sum1 = 0
for i in range(101):
    sum1+=i**2
sum2=0
for i in range(101):
    sum2+=i
sum2= sum2*sum2
print(sum2-sum1)

25164150

44. Write a Python program to convert list to list of dictionaries. Sample lists: [”Name”, ”Age”, ”ID”, ”Phone”], [”Yazeed”, ”21”, 1536698”, ”0798529788”] Expected Output: {’color Name’: ’Black’, ’Age: ’21’ , ‘ID’: ’1536698’, ‘Phone’: ’0798529788’}

In [32]:
d1 = {"item1": 45.50,'item2':35,'item3': 41.30,'item4':55,'item5': 24}

l1 = ["name","age","id","phone"]
l2 = [1,2,3,4]

d={}

for i in range(len(l1)):
    d[l1[i]]=l2[i]
    
print(d)

{'name': 1, 'age': 2, 'id': 3, 'phone': 4}

45. Write a Python program to get the top three items in a shop. Sample data: ’item1’: 45.50, ’item2’:35, ’item3’: 41.30, ’item4’:55, ’item5’: 24 Expected Output: item4 55 item1 45.5 item3 41.3

In [31]:
d1 = {"item1": 45.50,'item2':35,'item3': 41.30,'item4':55,'item5': 24}


l1 = list()
for i in d1.values():
    l1.append(i)

l1.sort()
s =len(l1) 
l1 = l1[s-3:s]   
print(l1)


for key,value  in d1.items():
    if (value in l1):
        print(key,":",value)

[41.3, 45.5, 55]
item1 : 45.5
item3 : 41.3
item4 : 55

#46. Write a Python program to replace dictionary values with their sum.

In [38]:
d1 = {
     'name':1,
     'age':2,
     'id':3

     }



s =sum(d1.values())
       

for i in d1:
    d1[i]=s
 
        
print (d1)

{'name': 6, 'age': 6, 'id': 6}